<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225010099817-2mf0un1cb178di2lpc5f9re5g0vnju6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225010099817-2mf0un1cb178di2lpc5f9re5g0vnju6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqXuPz4pC3lltuJ4NQIR982jFIbAS3o3U</string>
	<key>GCM_SENDER_ID</key>
	<string>225010099817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiUser</string>
	<key>PROJECT_ID</key>
	<string>multi-user-65c73</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-user-65c73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225010099817:ios:9bba8c85a7e5425fe664f8</string>
</dict>
</plist>